@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400');

body {
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: #263238;
}

a, p, h1, h2, h3, h4, h5, h6, table, tr, td, th, li {
    font-family: 'Roboto', sans-serif;
    color: white;
}

table {
    border: 1px solid white;
    border-collapse: collapse;
}

table {
    border: 1px solid white;
    border-collapse: collapse;
}

th {
    border: 1px solid white;
    padding: 5px;
}

td {
    border: 1px solid white;
    padding: 5px;
}

#hidden-clipboard-area {
    position: fixed;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    padding: 0;
    border: none;
    outline: none;
    box-shadow: none;
    background: transparent;
}

.textbox {
    width: 300px; 
    height: 20px;
    background-color: transparent;
    color: white; 
    text-align: center;
    outline: none;
    border-bottom: 1.5px solid white;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    transition: all .25s ease-in-out;
}

.button {
    height: 25px;
    /* width: 70px; */
    background-color: transparent;
    color: white;
    outline: none;
    border: 1.5px solid white;
    font-family: 'Raleway', sans-serif;
    transition: .25s ease;
    cursor: pointer;
}

.version-header {
    font-size: 12px;
    text-align: center;
}